<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tulos</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
    <body>
        <main>
            <h1>Haetut tiedot:</h1>
            <div class="kentat">
                <p><span class="selite">AutoId:</span> <%= auto.autoId %></p>
                <p><span class="selite">Merkki:</span> <%= auto.merkki %></p>
                <p><span class="selite">Rekisteri:</span> <%= auto.rekisteri %></p>
                <p><span class="selite">Kuvapolku:</span> <%= auto.kuvapolku %></p>
            </div>
            <p class="auto">
                <img src="/kuvat/<%= auto.kuvapolku %>"
                    alt="<%= auto.merkki %> merkkisen auton kuva">
            </p>
            <a class="nappi" href="/">Valikkoon</a>
        </main>
    </body>
</html>